.product-title{
    font-size: 17px;
    font-weight: bold;
 }
 
 .bottom-info{
    font-size: 13px;
    color: var(--ion-color-tint);
    
 }
 
 .medium-info{
     font-size: 15px;
 }
 
 .product-img{
   object-fit: cover;
   width: 100%;
   height: 229px;
 }
 
 .header-container {
   position: relative;
   
 }
 
 .product-price-container{
  
    position: absolute;
   bottom: 8px;
   left: 0px;
    padding: 0.75em 1.3em;
     background-color: rgba(0, 0, 0, 0.6);
     color: #FFF;
     text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
     
     
 }
 
 
 .photo-quantity{
   
   
    position: absolute;
    border-radius: 9px;
   top: 8px;
   left: 2px;
    padding: 0.3em 0.5em;
     background-color: rgba(0, 0, 0, 0.6);
     color: #FFF;
     text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
 }
 
 .product-favorite-button{
   
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    font-size: 35px;
    padding: 5px;
    bottom: 10px;
    right: 5px;
    --ion-color-primary: white!important;
 }

 .sold-container{
    position:relative
 }
 .sold-text{

   position: absolute;
    z-index: 100;
    text-align: center;
    font-weight: bold;
    font-size: 49px;
    /* border-radius: 5px; */
    bottom: 75px;
    left: 0%;
    right: 0%;
    padding: .2em .5em;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff !important;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
 }
 
 
 
 
 .product-price{
          font-size: 1.39em
     }