<div padding  *ngIf="platformIs == 'mobile'">
  <ion-button size="large"  [disabled]="images?.length >= maxImgs" fill="outline" expand="block" color="primary" (click)="selectImageWithMobile()">
        <ion-icon slot="start" name="camera"></ion-icon>
        Selecionar Imagens
  </ion-button>
</div>

<div padding *ngIf="platformIs == 'browser'">
  <h2>Selecione uma imagem</h2>
  <input
     type="file"
     (change)="selectImageWithBrowser($event)">
</div>

<ion-list>
<ion-item class="image-item" *ngFor="let img of images; index as pos" text-wrap>
  <ion-thumbnail slot="start">
    <ion-img [src]="img"></ion-img>
  </ion-thumbnail>
  <ion-button *ngIf="pos!=0" size="small"  fill="outline" shape="round" (click)="setToDefaultImage(pos)">
              capa
   </ion-button>
    <ion-button fill="clear" (click)="removeImageSource(pos)">
             <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-button>
</ion-item>
</ion-list>