<ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4" *ngFor="let item of options; let i = index">
        <ion-card  no-margin  (click)="selectOption(item)">
            
            <ion-card-content>
                  <ion-item lines="none">
                      <ion-icon *ngIf="item.iconName || item.iconSrc" style="font-size: 50px" slot="start"   [src]="item.iconSrc" [name]="item.iconName" ></ion-icon>
                      <div>
                           <h2 style="font-size: 22px">
                                {{item.header}}
                            </h2>
                            <p>
                              <ion-text color="medium">
                                  {{item.subheader}}
                                </ion-text>
                            </p>
                      </div>
                      <ion-icon *ngIf ="selectedOption==item.value"color="success" size="large" slot="end" name="checkmark-circle-outline"></ion-icon>
                  </ion-item>
             </ion-card-content>
           </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>