<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="light" defaultHref="/"></ion-back-button>
            <ion-menu-button color="light"></ion-menu-button>
          </ion-buttons>
          <ion-title>Anunciar veículo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
     <h2 class="text-center">
       <ion-text color="medium">Obrigado pelo interesse!</ion-text>
     </h2>
     <p>
       <ion-text>
          O cadastro de veículos não está disponível para sua região.
       </ion-text>
     </p>
  </ion-content>