
.product-img{
    object-fit: cover;
    width: 100%;
    height: 209px;
  }


  
  
  .col-footer-primary{
      background-color: var(--ion-color-primary);
  }
  
  
  .inside-img-container {
    position: relative;
    
  }
  
  .product-title{
    font-size: 21px;
    font-weight: bold;
  }
  
  .photo-quantity{
   
     position: absolute;
     z-index: 100;
     border-radius: 5px;
    bottom: 8px;
    left: 3px;
     padding: 0.2em 0.5em;
      background-color: rgba(0, 0, 0, 0.6);
      color: #FFF;
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
      
      
  }
   
  
  .sold-text{

    position: absolute;
    z-index: 100;
    text-align: center;
    font-weight: bold;
    font-size: 49px;
    /* border-radius: 5px; */
    bottom: 75px;
    left: 0%;
    right: 0%;
    padding: .2em .5em;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff !important;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  }
  
  .product-favorite-button{
     font-size: 21px;
     margin-top: 9px;
    padding-right: 9px;
     --ion-color-primary: white!important;
  }
  
  
  .product-price{
           font-size: 1.39em
      }
  