<ion-header>
  <ion-toolbar>
    <ion-title>prototype-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
   <ion-button routerLink="/prototype/detail/0">Cadastrar Novo</ion-button>
  <ion-list>
    <ion-item *ngFor="let item of prototypes">
      <ion-label>{{item.title}}</ion-label>
      <ion-buttons>
          <ion-button fill="outline"  (click)="saveToView(item)">
              <ion-icon name="eye"></ion-icon>
         </ion-button>
          <ion-button fill="outline"  routerLink="/prototype/detail/{{item.id}}">
              <ion-icon name="create"></ion-icon>
           </ion-button>
          <ion-button fill="outline" (click)="deleteItem($event, item)">
              <ion-icon name="trash"></ion-icon>
           </ion-button>
        </ion-buttons>
    </ion-item>
    
  </ion-list>

</ion-content>
